:root {
  --primary-color-button: rgba(74, 228, 228, 0.925);
  --primary-color-border: rgba(119, 243, 243, 0.993);
}

body {
  padding: 0;
  margin: 0;
}

.notiz-container-frame {
  margin: 1rem;
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-sidebar {
  margin-right: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-right: 1px solid var(--primary-color-button);
}

.new-notice-button {
  display: flex;
  background-color: var(--primary-color-button);
  border: none;
  border-radius: 15px;
  width: 160px;
  height: 55px;
}

.icon-plus {
  width: 24px;
  height: 24px;
  padding-top: 14px;
  padding-right: 10px;
}

.inside-button {
  font-size: 1rem;
  letter-spacing: 0.3px;
}

.main-content-field {
  margin: 1rem;
}

#notice-title-input {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: none;
  margin-bottom: 1rem;
}

.save,
.delete {
  background-color: var(--primary-color-button);
  border: none;
}

.icon-save,
.icon-delete {
  width: 48px;
  height: 48px;
}

#text-area-content {
  border: none;
  letter-spacing: 0.1rem;
  width: 100vh;
  height: 90vh;
  font-size: 2rem;
}
